.login,
.image {
  min-height: 100vh;
}

.bg-image {
  background-image: url('https://media.discordapp.net/attachments/695438113174192169/721298465417723904/Untitled_design_2.png');
  background-repeat: repeat;
  background-position: center;
}