
@font-face {
    font-family: 'Menlo Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Menlo Regular'), url('fontfaces/Menlo-Regular.woff') format('woff');
}

body{
    color: white;
    background-color: #202121;
}

#main{
    background-color: #202121;
}

h1{
    font-family: 'Inter', sans-serif;
    font-weight:normal;
    font-size:42px
}

#code-text{
    font-family: 'Menlo Regular';
    font-weight:normal;
    font-size:16px
}
