<div class="card mb-1" >
    <div class="row no-gutters">
        <div class="card-body">
            {% set user_link %}
            <h3 class="card-title">Title: {{post.title}}</h3> <a href="{{ url_for('main.user', username=post.author.username) }}">{{post.author.username}}</a>
            <p id="post{{post.id}}"class="card-text">Description: 
              {% if post.body_html %}
                {{ post.body_html | safe}}
            {%else%}
              {{post.body}}
            
              {%endif%}
            </p>
          {% endset %}
          <p class="card-text"><small class="text-muted">{{ _('%(username)s posted %(when)s',
            username=user_link, when=moment(post.timestamp).fromNow()) }}.</small></p>

            <h5>{{_('File contents:')}}</h5>
            {% for elemnt in post.list_contents() %}
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                {% if ".exe" in elemnt %}
                  <i class="fas fa-running"></i>{{elemnt | lower}}
                {%elif ".dll" or ".asi" in elemnt%}
                  <i class="fas fa-book"></i>{{elemnt | lower}}
                {%else%}
                  {{elemnt | lower}}
                {% endif %}
              </li>
            </ul>
            {%endfor%}
          </br>
            <a style="color:white" type="button" class="btn btn-success" href="{{url_for('main.download', filename=post.mod_file) }}">Download</a>
            <small>{{_('File signature: ' + post.mod_file)}}</small>

            {% if current_user.has_role('admin') %}
              <hr><small>Administrative commands:</small>

              <a style="color:white" type="button" class="badge badge-danger" href="{{url_for('main.deletepost', id=post.id)}}">
                Delete post
              </a>
            {% endif %}
        </div>
    </div>
  </div>