<div class="card mb-3" >
    <div class="row no-gutters">
      <div class="col-md-4">
        <img style="width: 90%" src="{{ post.author.avatar(70) }}" class="card-img">
      </div>
      <div class="col-md-8">
        <div class="card-body">
            {% set user_link %}
            <h3 class="card-title">{{post.title}}</h3> <a href="{{ url_for('main.user', username=post.author.username) }}">{{post.author.username}}</a>
            <p id="post{{post.id}}"class="card-text">{{post.body}}.</p>
          {% endset %}
          <p class="card-text"><small class="text-muted">{{ _('%(username)s posted %(when)s',
            username=user_link, when=moment(post.timestamp).fromNow()) }}.</small></p>

            <h5>{{_('File contents:')}}</h5>
            {% for elemnt in post.list_contents() %}
            <ul class="list-group list-group-flush">
              <li class="list-group-item">{{elemnt}}</li>
            </ul>
            {%endfor%}
          </br>


            <a style="color:white" type="button" class="btn btn-success" href="{{url_for('main.download', filename=post.mod_file) }}">Download</a>
            <small>{{_('File signature' + post.mod_file)}}</small>
        </div>
      </div>
    </div>
  </div>