<div class="card mb-3" >
    <div class="row no-gutters">
      <div class="col-md-4">
        <img style="width: 90%" src="{{ post.author.avatar(70) }}" class="card-img">
      </div>
      <div class="col-md-8">
        <div class="card-body">
            {% set user_link %}
          <h5 class="card-title"><a href="{{ url_for('main.user', username=post.author.username) }}">{{post.author.username}}</a></h5>
            <p id="post{{post.id}}"class="card-text">{{post.body}}.</p>
          {% endset %}
          <p class="card-text"><small class="text-muted">{{ _('%(username)s posted %(when)s',
            username=user_link, when=moment(post.timestamp).fromNow()) }}.</small></p>

            {% for elemnt in post.list_contents() %}
            {{if elemnt.count() > 0}}
            <p>data ok</p>
            {%elseif%}
            <p>
              ddfdf
            </p>
            {%endif%}
            {%endfor%}
        </div>
      </div>
    </div>
  </div>