<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/comment.css') }}">

<div class="container">
    <div class="row">
    <div class="comments-container">
        <ul id="comments-list" class="comments-list">
            <li>
                <div class="comment-main-level">
                    <div class="comment-avatar"><img src="{{comment.author.avatar(1)}}" alt="User avatar."></div>
                    <div class="comment-box">
                        <div class="comment-head">
                            <h6 class="comment-name by-author">
                                <a href="{{url_for('main.user', username=comment.author.username)}}">{{comment.author.username}}</a>
                            </h6>
                            {% if comment.author.id == post.author.id %}
                                <span class="badge badge-pill badge-outline-primary">Author</span>
                            {%endif%}

                            <i>
                                {% if comment.author.has_role('admin')%}
                                <span class="badge badge-pill badge-outline-danger">Administrator</span>
                                {%endif%}
                            </i>
                            <i>
                                {% if current_user.has_role('admin')%}
                                <a href="{{url_for('main.commentregulation', id=comment.id)}}">
                                    {% if comment.disabled %}
                                        Enable Comment
                                    {% else %}
                                        Disable Comment 
                                    {% endif %}
                                </a>
                                {%endif%}
                            </i>

                            <i>
                                {{ _('%(when)s', when=moment(comment.timestamp).fromNow()) }}.
                            </i>
                        </div>
                        <div id="{{comment.id}}" class="comment-content">
                            {% if comment.disabled %}
                                <div class="alert alert-danger alert-dismissible fade show">
                                    {{_('This comment has been disabled by an administrator.')}}
                                </div>
                            {% else%}
                                {% if comment.body_html %}
                                    {{ comment.body_html | safe }}
                                {%else%}
                                    {{comment.body}}
                                {%endif%}        
                            {%endif%}                            
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    </div>
</div>
