{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block app_content %}

<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/explore.css') }}">

<h1 class="font-weight-light text-center text-lg-left mt-4 mb-0">Explore User Mods</h1>
<p class="font-weight-light">Pro tip: Hover over the image to get more information about the mod.</p>
<hr class="mt-2 mb-5">

<div class="row text-center text-lg-left">

{% if not tag %}
  {% for post in posts %}
    {% include '_explore_post.html' %}
  {%endfor%}
{%endif%}
{% for tag in tags %}
<a href="{{url_for('main.post_view', postid=123)}}">
<div class="card bg-dark text-white">
    <img class="card-img" src="{{tag.return_thumbnail()}}" alt="Card image">
    <div class="card-img-overlay">
      <h3 class="card-title font-weight-light">{{tag.title}}</h3>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      <p class="card-text">Last updated 3 mins ago</p>
      <p class="card-text">TAGID: {{tag.post_id}}</p>
    </div>
  </div><br>
</a>
{% endfor %}
</div>
{% endblock %}
