{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block app_content %}

<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/explore.css') }}">

<div class="container">
    <h1 class="font-weight-light text-center text-lg-left mt-4 mb-0">Explore User Mods</h1>
    <p class="font-weight-light">Pro tip: Hover over the image to get more information about the mod.</p>
    <hr class="mt-2 mb-5">
  
    <div class="row text-center text-lg-left">
    {% for post in posts %}
        {% include '_explore_post.html' %}
    {% endfor %}
    </div>
</div>
{% endblock %}