{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block app_content %}

<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/mainpage.css') }}">

</br>
    <h1>{{ _('Hello, %(username)s!', username=current_user.username) }}</h1>
    <div class="container">
        <div class="row justify-content">
            {% if request.MOBILE %}
            <p>Mobile uploads disabled.</p>
            {% else %}
          <div class="col-4">
                {% if form %}
                <form method="POST" enctype="multipart/form-data">
                    {{ wtf.quick_form(form) }}
                </form>
                {%endif%}
            {% endif %}
          </div>
          <div class="col-6">
                <div class="row">
                        <h4>{{_('Posting 101')}}</h4>
                        <ul class="timeline">
                            <li>
                                <b>{{_('Meaningful title')}}</b>
                                <p>{{_("Add a meaningful title to your posts in order to hook users up. 
                                    Avoid random title names such as 'mod0', 'lsmod', 'skin1'. 
                                    Save user's time by providing a userful title.")}}
                                </p>
                            </li>
                            <li>
                                <b>{{_('Add a proper brief')}}</b>
                                <p>{{_('Feel free to give a short description of the modification that you are presenting.
                                    It can be information on further development status, installation guide and much more.')}}
                                </p>
                            </li>
                            <li>
                                <b>{{_('Dress to impress')}}</b>
                                <p>{{_('Be sure to include a good looking screenshot or preview of your modification. 
                                    Make it straight to the point. Also make sure that you organize your compressed (ZIPd) file properly.')}}
                                </p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
        <h2>{{_('Your precious posts')}}</h2>
        {% for post in posts %}
        {% include '_post.html' %}
    {% endfor %}
    </div>
    <nav aria-label="...">
        <ul class="pager">
            <li class="previous{% if not prev_url %} disabled{% endif %}">
                <a href="{{ prev_url or '#' }}">
                    <span aria-hidden="true">&larr;</span> {{ _('Newer posts') }}
                </a>
            </li>
            <li class="next{% if not next_url %} disabled{% endif %}">
                <a href="{{ next_url or '#' }}">
                    {{ _('Older posts') }} <span aria-hidden="true">&rarr;</span>
                </a>
            </li>
        </ul>
    </nav>
{% endblock %}
