{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/mainpage.css') }}">

    <h1 class="font-weight-light">{{ _('Hello, %(username)s!', username=current_user.username) }}</h1>
    {% if request.MOBILE %}<p>ModHub works best on desktop as of right now.</p>{% else %}

    <br />

    <div class="alert alert-primary" role="alert">
        ModHub just got launched! Feel free to report any bugs over at modhub@vanilla-remastered.com or <a href="https://support.vanilla-remastered.com">support page.</a>
    </div>
    <div class="alert alert-success" role="alert">
        We have upgraded our guideline. Check it out <a href="{{url_for('main.policy')}}">here.</a>
    </div>

    {% if form %}
    <h3>
        <i data-toggle="collapse" href="#postCollapse" role="button" aria-expanded="false" aria-controls="postCollapse" class="fas fa-plus-square fa"></i>
        {{_('Launch a Post')}}
    </h3>
    {%else%}
    <p style="color:red;">{{_('You must wait atleast 20 minutes before posting again')}}!</p>
    {%endif%}

    <div class="w3-container">
        <div class="collapse" id="postCollapse">
            <div class="row justify-content">
                <div class="col-5">
                    {% if form %}
                        {% for field, errors in form.errors.items() %}
                            <div class="alert alert-danger alert-dismissible fade show">
                                {{ form[field].label }}: {{ ', '.join(errors) }}
                            </div>
                        {% endfor %}

                    <form method="POST" enctype="multipart/form-data">
                        {{ wtf.quick_form(form) }}
                    </form>
                    {%endif%}
                </div>
                <div class="col-7">
                    <div class="row">
                        <h4 class="font-weight-light">{{_('Launching a post 101')}} 🚀</h4>
                        <ul class="timeline">
                            <li>
                                <b>{{_('Meaningful title')}}</b>
                                <p>{{_("Add a meaningful title to your posts in order to hook users up.
                                    Avoid random title names such as 'mod0', 'lsmod', 'skin1'.
                                    Save user's time by providing a userful title.")}}
                                </p>
                            </li>
                            <li>
                                <b>{{_('Add a proper brief')}}</b>
                                <p>{{_('Feel free to give a short description of the modification that you are presenting.
                                    It can be information on further development status, installation guide and much more.')}}
                                </p>
                            </li>
                            <li>
                                <b>{{_('Dress to impress')}}</b>
                                <p>{{_('Be sure to include a good looking screenshot or preview of your modification.
                                    Make it straight to the point. Also make sure that you organize your compressed (ZIPd) file properly.')}}
                                </p>
                            </li>
                            <li>
                                <b>{{_('Stick to the rules')}}</b>
                                <p>{{_("By making a post you agree to ModHub's privacy and policy guidelines stated ")}}<a href="{{url_for('main.policy')}}">here.</a>
                                </p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    {%endif%}

    <main role="main" class="container">
        <div class="d-flex align-items-center p-3 my-3 text-white-50 bg-green rounded box-shadow">
          <img class="mr-3" src="{{ url_for('static', filename='feed.svg')}}" width="48" height="48">
          <div class="lh-100">
            <h6 class="mb-0 text-white lh-100">ModHub</h6>
            <small>Welcome to your feed!</small>
          </div>
        </div>
  
        <div class="my-3 p-3 bg-white rounded box-shadow">
          <h6 class="border-bottom border-gray pb-2 mb-0">Recommendations</h6>
          {% if not recommendations %}<p class="media text-muted pt-3">There are no suggestions at this time.</p>
          {%else%}
            {% for post in posts %}
            {% include 'new_recommend_post.html' %}
            {%endfor%}
          {%endif%}

          <small class="d-block text-right mt-3">
              Suggestions are based on number of downloads.
          </small>
        </div>
  
        <div class="my-3 p-3 bg-white rounded box-shadow">
          <h6 class="border-bottom border-gray pb-2 mb-0">Your feed</h6>
            {% for post in posts %}
            {% include 'new_feed_post.html' %}
            {% endfor %}
            
          <small class="d-block text-right mt-3">
            <a href="{{url_for('main.explore')}}">All posts</a>
          </small>
        </div>
    </main>

    {% include 'nextprev.html' %}
    
   </div>
    <script src="{{url_for('static', filename='javascript/welcome.js')}}"></script>
{% endblock %}
