{%extends 'base.html' %}
{% block app_content %}
<br>
<div class="card">
    <div class="card-body">
      <p class="card-text">

        <h4>ModHub - Guidelines and Policies</h4>
        <i>Last Update (14/6/2020)</i><br>

        <h3>1.x General</h3>

        <b>1.00 - Purpose of Creation</b><hr>

        ModHub is an extension to the Vanilla Remastered community to allow the creation of awesome game modifications for the supported games by Vanilla Remastered.

        The purpose of this hub is having a strong platform where modifications are organized in a better way, and let's the member get more choices from 
        various mods created by the community members, for the community members.
        <hr>
        <b>1.01 - Liability</b><br>

        The authors, Vanilla Remastered or the team working behind it may not be held liable of any damage caused by using any mods released on the platform.

        While we will do our best to filter malicious, untrustworthy, or rather broken mods, our systems can possibly fail at some point, 
        and in this situation, we will not be responsible of any kind of data loss or harm caused by such mods.

        ModHub is provided as-is without any form of warranty or guarantees.
        <hr>
        <b>1.02 - Data Integrity</b><br>

        It is solely the member's responsibility to backup their data, and we will not be held liable or responsible of any kind of data loss
        and it will be the content creator's responsibility to keep backups of their data for the cases of loss.
        
        <hr>
        <b>1.03 - Privacy Policy</b><br>

        By signing up for ModHub, your account is your responsibility, and any data you provide will be stored on our database to be able
        to provide you our service(s) as expected or as told, and you take full responsibility of your account in case of getting hacked or accessed by someone else.

        We will, however, try and keep our services as secure as possible, but still in case of any kind of vulnerabilities or 
        carelessness from the account owner's end, we will not be responsible of such cases.

        Account deletion might now be available, and we will not collect personal information about yourself, unless you explicitly provide it.

        We will not ask you for your password or account details.

        <hr>
        <b>1.04 - Mod Ownership</b><br>

        Mods released on ModHub are owned by their respective creators and maintainers and ModHub is only a place where this mod can get recognition.

        It is solely the creator's duty to provide a license within their mod files to avoid copyright infringement/violation.

        Mods should be open source and shouldn't be encrypted or limited for a license key/password access.

        We are not to be held responsible in case a modification was leaked or wasn't released by the creator of the modification,
        and it is the creator's responsibility (original owner) to contact us with proof of creation so that we take neccessary actions.

        <hr>
        <b>1.05 - File Security</b><br>

        We will ensure that the content on ModHub remain healthy and free from viruses, and in case our systems fail to do this task,
        we will not be held responsible of the damage caused by using the mod.

        <hr>
        <b>1.06 - Support</b><br>

        We aim to provide support for any service we provide, having ModHub included on the list, and we may choose to deny support
        for a particular member in case of asking repeated questions or causing delay for our support system, or rather asking for impossible or unrelated things.

        In case of threatening or harming us, we may decide to suspend your access from our platform and delete your content or deny support.

        <hr>
        <b>1.07 - Account Suspension</b><br>

        In case you violate our community guidelines, we may choose to suspend your account and/or keep or delete content created by you.

        We are not in any way forced to delete content on request, and while we might do it, if we refuse to do so, in case of being 
        harmful towards us or for any other reason. We may also decide to refuse  your requests for any reason we deem necessary.

        <hr>
        <b>1.08 - Fair Usage</b><br>

        ModHub services are made to be fair and equal for everyone, in the case of having a member misusing one or more of our 
        services, we might choose to suspend the member's account without further notice.

        <hr>
        <b>1.09 - Service Denial</b><br>

        We might refuse to provide you one or more of our servers and keep/delete your content for any reason we deem necessary.

        In case you are harming us or any other affiliated third parties, or are releasing harmful, explicit or malicious mods,
        we may choose to deny you from accessing our resources and still keep or remove anything you created without your permission.
        
        <hr>
        <b>1.10 - Policy Updates</b><br>

        We may update the policies written herein for any reasons we deem necessary, and in this situation, policies are applied 
in an instant and we reserve the right to modify, add or remove policies written herein without further notice.
      </p>
    </div>
  </div><br>
{%endblock%}