{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block app_content %}

  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-12 text-center">
        <h1 class="font-weight-light">Vanilla Remastered ModHub</h1>
      </div>
    </div>
  </div>
  
  <!-- Page Content -->
  <section class="py-5">
    <div class="card">
        <img class="card-img-top" width="90%" src="{{post.get_preview()}}" alt="Mod Preview">
        <div class="card-body text-center">
          <img class="avatar" src="{{ post.author.avatar(-1) }}" alt="Dude's avatar">
          <h4 class="card-title">{{post.author.username}}</h4>
          {% if post.author.has_role('admin') %}
            <h6 class="card-subtitle mb-2 text-muted"> ModHub Administrator</h6>
          {%endif%}
            <p class="card-text">{{post.author.about}}</p>
            {% if post.author != current_user %}
                {% if not current_user.is_following(post.author) %}
                    <a href="{{ url_for('main.follow', username=post.author.username) }}" class="btn btn-success">Follow</a>
                        {% elif current_user.is_following(post.author) %}
                         <a href="{{ url_for('main.unfollow', username=post.author.username) }}" class="btn btn-success">Unfollow</a>
                        {%endif%}
                <a href="{{ url_for('main.send_message', recipient=post.author.username) }}" class="btn btn-outline-success">Message</a>
         {%endif%}

         {% if post.author == current_user %}
         <p>{{_("Oh look! It is me! Welcome to your post "+post.author.username)}}.</p>
         {%endif%}
        </div>
      </div></br>
      <h2 class="font-weight-light">Modification Content</h2>
      <div class="card mb-3">
        <div class="card-body">
          <h5 class="card-title">{{post.title}}</h5>
          <p class="card-text">{{post.body}}</p>
          <p class="card-text"><small class="text-muted">{{ _('%(username)s Modification was uploaded %(when)s',
            username=user_link, when=moment(post.timestamp).fromNow()) }}.</small></p>

            <h5>{{_('File contents:')}}</h5>
                {% for elemnt in post.list_contents() %}
                <ul class="list-group list-group-flush"> <li class="list-group-item">{{elemnt}}</li></ul>
            {%endfor%}</br>

            <a style="color:white" type="button" class="btn btn-success" href="{{url_for('main.download', filename=post.mod_file) }}">Download</a>
            <small>{{_('File signature: ' + post.mod_file)}}</small>

            {% if current_user.has_role('admin') %}
              <hr><small>Administrative commands:</small>

              <a style="color:white" type="button" class="badge badge-danger" href="{{url_for('main.deletepost', id=post.id)}}">
                Delete post
              </a>
            {% endif %}
        </div>
      </br>
    </div>
      <h1 class="font-weight-light">Comment section:</h1>
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#commentModal">
        Add a comment
      </button>
      <div class="modal fade" id="commentModal" tabindex="-1" role="dialog" aria-labelledby="commentModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Comment content</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              {{ wtf.quick_form(form) }}
            </div>
          </div>
        </div>
      </div>      
      {% include "comment.html" %}
      </div>  
  </section>
{%endblock%}