{% extends "base.html" %}
{% block app_content %}
    <div class="container">
    </br>
        <div class="row">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12 col-lg-8 col-md-7">
                                <h3 class="mb-0 text-truncated">{{ user.username }}</h3>
                                <p class="lead">{{ _('%(username)s was last seen %(when)s',
                                    username=user_link, when=moment(user.last_seen).fromNow()) }}.</p>
                                <p>
                                {{user.about_me}}
                                </p>
                                <p> 
                                    {% if user.posts.count() < 5 %}
                                        <span class="badge badge-warning">Newbie</span>
                                    {% endif %}

                                    {% if user.has_role('admin') %}
                                        <span class="badge badge-danger">ModHub Administrator</span>
                                    {% endif %}

                                    {% if user.has_role('premium') %}
                                    <span class="badge badge-dark">Premium ModHub User</span>
                                    {% endif %}
                                </p>
                            </div>
                            <div class="col-12 col-lg-4 col-md-6 text-center">
                                <img width="100%" src="{{user.avatar(5)}}" alt="" class="mx-auto rounded-circle img-fluid">
                            </div>
                            <div class="col-12 col-lg-4">
                                <h3 class="mb-0">{{ _('%(count)d', count=user.followers.count()) }}</h3>
                                <small>Followers</small>
                                {% if not current_user.is_following(user) and user != current_user%}
                                <a href="{{ url_for('main.follow', username=user.username) }}">
                                    <button class="btn btn-block btn-outline-success"><span class="fa fa-plus-circle"></span>{{_('Follow')}}</button></a>
                                {%elif user!=current_user%}
                                    <a href="{{ url_for('main.unfollow', username=user.username) }}">
                                        <button class="btn btn-block btn-outline-success"><span class="fa fa-plus-circle"></span>{{_('Unfollow')}}</button></a>
                                {%endif%}
                            </div>
                            <div class="col-12 col-lg-4">
                                <h3 class="mb-0">{{ _('%(count)d', count=user.followed.count()) }}</h3>
                                <small>Following</small>
                                {% if user != current_user%}
                                    <a href="{{ url_for('main.send_message', recipient=user.username) }}"><button class="btn btn-outline-info btn-block"><span class="fa fa-user"></span>{{_('Send private message')}}</button></a>
                                {%endif%}
                            </div>
                            <div class="col-12 col-lg-4">
                                <h3 class="mb-0">{{ _('%(count)d', count=user.posts.count()) }}</h3>
                                <small>Posts made</small>
                                {% if user==current_user%}
                                    <a href="{{ url_for('main.edit_profile') }}"><button type="button" class="btn btn-outline-primary btn-block"><span class="fa fa-gear"></span>{{_('Edit')}}</button></a>
                                {%endif%}
                            </div>
                            <!--/col-->
                        </div>
                        <!--/row-->
                    </div>
                    <!--/card-block-->
                </div>
            </div>
        </div>
    </div>
    {% for post in posts %}
        {% include '_post.html' %}
    {% endfor %}
    
    {%include 'nextprev.html'%}
{% endblock %}